# Практическое задание к уроку 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_pickle('tweet_tokens')
data.head(3)

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thanks, lyft, credit, use, cause, offer, whee...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]"

In [3]:
def def_1(list_str):
    text=' '.join([ch for ch in list_str])
    return text.strip()

In [4]:
tweet_stemmed_documents=data['tweet_stemmed'].apply(lambda x: def_1(x)).values
tweet_lemmatized_documents=data['tweet_lemmatized'].apply(lambda x: def_1(x)).values
tweet_stemmed_documents

array(['father dysfunctional selfish drags kids dysfunction run',
       'thanks lyft credit use cause offer wheelchair vans pdx disapointed getthanked',
       'bihday majesty', ...,
       'hillary campaigned today ohio omg used words like assets liability never clinton say thee word radicalization',
       'happy work conference right mindset leads culture development organizations work mindset',
       'song glad free download shoegaze newmusic newsong'], dtype=object)

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
●	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
●	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
●	Исключим стоп-слова с помощью stop_words='english'.
●	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [5]:
count_vectorizer = CountVectorizer(ngram_range=(1, 2), analyzer='word', binary=False,
                                   max_df=0.9,max_features=1000,stop_words='english')

bag_of_words_tweet_stemmed = count_vectorizer.fit_transform(tweet_stemmed_documents)
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words_tweet_stemmed.toarray(), columns = feature_names).head(3)

,able,absolutely,account,act,actor,actually,adapt,adapt environment,adventure,affirmation,...,york,young,youtube,yoyou,yoyou time,yoyou yoyou,yoyour,yoyoyou,yr,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
count_vectorizer = CountVectorizer(ngram_range=(1, 2), analyzer='word', binary=False,
                                   max_df=0.9,max_features=1000,stop_words='english')

bag_of_words_tweet_lemmatized = count_vectorizer.fit_transform(tweet_lemmatized_documents)
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words_tweet_lemmatized.toarray(), columns = feature_names).head(3)

,able,absolutely,account,act,actor,actually,adapt,adapt environment,adventure,affirmation,...,york,young,youtube,yoyou,yoyou time,yoyou yoyou,yoyour,yoyoyou,yr,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
●	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
●	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
●	Исключим стоп-слова с помощью stop_words='english'.
●	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [7]:
tfid_vectorizer =TfidfVectorizer(ngram_range=(1, 2), analyzer='word', binary=False,
                                   max_df=0.9,max_features=1000,stop_words='english')

bag_of_words_tweet_stemmed = tfid_vectorizer.fit_transform(tweet_stemmed_documents)
feature_names = tfid_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words_tweet_stemmed.toarray(), columns = feature_names).head(3)

,able,absolutely,account,act,actor,actually,adapt,adapt environment,adventure,affirmation,...,york,young,youtube,yoyou,yoyou time,yoyou yoyou,yoyour,yoyoyou,yr,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
tfid_vectorizer =TfidfVectorizer(ngram_range=(1, 2), analyzer='word', binary=False,
                                   max_df=0.9,max_features=1000,stop_words='english')

bag_of_words_tweet_lemmatized = tfid_vectorizer.fit_transform(tweet_lemmatized_documents)
feature_names = tfid_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words_tweet_lemmatized.toarray(), columns = feature_names).head(3)

,able,absolutely,account,act,actor,actually,adapt,adapt environment,adventure,affirmation,...,york,young,youtube,yoyou,yoyou time,yoyou yoyou,yoyour,yoyoyou,yr,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

3. Натренируем gensim.models.Word2Vec модель на наших данных.
●	Тренировать будем на токенизированных твитах combine_df['tweet_token']
●	Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
●	Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [9]:
import gensim

In [10]:
import gensim.downloader as api

In [11]:
api.info()['models'].keys()

dict_keys(['fasttext-wiki-news-subwords-300', 'conceptnet-numberbatch-17-06-300', 'word2vec-ruscorpora-300', 'word2vec-google-news-300', 'glove-wiki-gigaword-50', 'glove-wiki-gigaword-100', 'glove-wiki-gigaword-200', 'glove-wiki-gigaword-300', 'glove-twitter-25', 'glove-twitter-50', 'glove-twitter-100', 'glove-twitter-200', '__testing_word2vec-matrix-synopsis'])

In [12]:
data['tweet_token'].values

array([list(['when', 'father', 'is', 'dysfunctional', 'and', 'is', 'so', 'selfish', 'he', 'drags', 'his', 'kids', 'into', 'his', 'dysfunction', 'run']),
       list(['thanks', 'for', 'lyft', 'credit', 'can', 'not', 'use', 'cause', 'they', 'do', 'not', 'offer', 'wheelchair', 'vans', 'in', 'pdx', 'disapointed', 'getthanked']),
       list(['bihday', 'your', 'majesty']), ...,
       list(['hillary', 'campaigned', 'today', 'in', 'ohio', 'omg', 'used', 'words', 'like', 'assets', 'liability', 'never', 'once', 'did', 'clinton', 'say', 'thee', 'word', 'radicalization']),
       list(['happy', 'at', 'work', 'conference', 'right', 'mindset', 'leads', 'to', 'culture', 'of', 'development', 'organizations', 'work', 'mindset']),
       list(['my', 'song', 'so', 'glad', 'free', 'download', 'shoegaze', 'newmusic', 'newsong'])],
      dtype=object)

In [84]:
word2Vec=gensim.models.Word2Vec(size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34)

In [85]:
data['tweet_token'].values

array([list(['when', 'father', 'is', 'dysfunctional', 'and', 'is', 'so', 'selfish', 'he', 'drags', 'his', 'kids', 'into', 'his', 'dysfunction', 'run']),
       list(['thanks', 'for', 'lyft', 'credit', 'can', 'not', 'use', 'cause', 'they', 'do', 'not', 'offer', 'wheelchair', 'vans', 'in', 'pdx', 'disapointed', 'getthanked']),
       list(['bihday', 'your', 'majesty']), ...,
       list(['hillary', 'campaigned', 'today', 'in', 'ohio', 'omg', 'used', 'words', 'like', 'assets', 'liability', 'never', 'once', 'did', 'clinton', 'say', 'thee', 'word', 'radicalization']),
       list(['happy', 'at', 'work', 'conference', 'right', 'mindset', 'leads', 'to', 'culture', 'of', 'development', 'organizations', 'work', 'mindset']),
       list(['my', 'song', 'so', 'glad', 'free', 'download', 'shoegaze', 'newmusic', 'newsong'])],
      dtype=object)

In [86]:
word2Vec.build_vocab(data['tweet_token'])

In [87]:
word2Vec.train(data['tweet_token'],total_examples=data['tweet_token'].shape[0],epochs=20)

(9150339, 11711500)

4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

In [59]:
result = word2Vec.most_similar(positive="dinner", topn=3)
print('dinner',result)
result = word2Vec.most_similar(positive="trump", topn=3)
print('trump',result)

dinner [('shawarma', 0.5739580392837524), ('cookout', 0.5720238089561462), ('spaghetti', 0.5658062696456909)]
trump [('donald', 0.558621883392334), ('suppoer', 0.5223381519317627), ('unfit', 0.520941436290741)]

5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).
Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

In [60]:
word2Vec['food']

array([-0.16260464,  0.20376222,  0.43490514,  0.54155004,  0.08045436,
        0.05884673, -0.91281575, -0.02477957, -0.37246084,  0.3404071 ,
        0.21369961,  0.8979313 ,  0.23352347, -0.33705923, -0.3925573 ,
        0.13241506, -0.3267432 , -0.08988018,  0.86172664,  0.04725142,
       -0.28488982,  0.23925182,  0.19023663,  0.55599856,  0.17425345,
       -0.4249877 ,  0.11920348, -0.48809528, -0.5754252 , -0.57919437,
        0.4308769 , -0.01530803, -0.017687  , -0.4175602 ,  0.18305205,
        0.2766019 ,  0.3189314 , -0.07469253,  0.36651638,  0.1270167 ,
       -0.48204118,  0.9228072 ,  0.05431063, -0.08990847,  0.3289554 ,
       -0.4214604 ,  0.01989678, -0.12990203,  0.5943816 ,  0.30524385,
        0.524544  ,  0.26876083, -0.19708535, -0.04484678, -0.17148119,
        0.54533905, -0.17409454, -0.29804608,  0.01743136,  0.10185908,
        0.02862702, -0.09078954, -0.54069185, -0.67407924, -0.14552888,
        0.85000956,  0.19587529, -0.69680285, -0.5335884 ,  0.55368096,
        0.8825875 ,  0.44070256,  0.73567635, -0.23046842,  0.32020953,
       -0.32955226, -0.0157431 , -0.22004157,  0.55171615,  0.31117344,
        0.53980416, -0.6620761 , -0.41674158, -0.54055506,  0.14024362,
       -0.02650135, -0.17467888,  0.57810533, -0.3839175 ,  0.43025988,
        0.34387514, -0.5418981 ,  0.8496911 , -0.7993002 , -0.26053327,
       -0.13194542,  0.30365843, -0.1247281 , -0.20163144, -0.32602605,
        0.0451169 , -0.69637144,  0.29225168,  0.43559098,  0.6497063 ,
       -0.16413862, -0.33545744, -0.3601335 ,  0.07814501,  0.32608843,
       -0.7659584 , -0.30668128,  0.17400078,  0.00490158, -0.01055586,
        0.24959846,  0.0698243 ,  0.15755475, -0.20762697, -0.79943335,
       -0.16162515, -0.08012893,  0.97699296, -0.64005995, -0.7006522 ,
        0.00240942, -0.29611006, -0.100735  , -0.2648028 , -0.54184586,
       -0.542079  ,  0.1210088 ,  0.13952018, -0.08017732,  0.434094  ,
        0.12666716,  0.5368371 , -0.4406108 ,  0.12102323,  0.35953766,
       -0.6024451 , -0.45356548, -0.0527317 , -0.08785405, -0.5791487 ,
        0.06426398,  0.6768934 , -0.3636429 , -0.2961611 , -0.69775265,
       -0.18116008,  0.47449836,  0.01942198, -0.34735593, -0.28867358,
       -0.08026138,  0.04980535, -0.07579297, -0.24907354,  0.37428278,
       -0.29078034,  0.8267435 ,  1.1722066 ,  0.15193358,  0.2046013 ,
        0.43526086,  0.1113487 , -0.5299453 , -0.14109698, -0.18452333,
       -0.12461907, -0.091068  ,  0.59421504, -0.13695414, -0.25768182,
        0.0980979 ,  0.09865868,  0.15910704,  0.6457935 ,  0.40877604,
       -0.44783193, -0.25880763,  0.48248115,  0.00564448, -0.33281267,
        0.0923616 , -0.32588893, -0.7370699 ,  0.07704116,  0.13411398,
       -0.5374382 ,  0.72035575,  0.70969474,  0.56189996, -0.48101997,
       -0.19262488, -0.43464315,  0.45639667, -0.15965308, -0.2640046 ],
      dtype=float32)

In [61]:
len(word2Vec['food'])

200

6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [192]:
wordvec_df=[]
size=word2Vec.vector_size
vec=0
for tweet in data['tweet_token']:
      if len(tweet):
        for word in tweet:
            if word2Vec.wv.vocab.get(word):
                vec += word2Vec[word]
                
        wordvec_df.append(vec/len(tweet))    
pd.DataFrame(wordvec_df).shape

(49157, 200)