# Практическое задание к уроку 3

In [1]:
#!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz

In [1]:
import spacy
from spacy import displacy
import pandas as pd
import en_core_web_md
import warnings
warnings.filterwarnings("ignore")

C:\Users\Cats\anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_core_web_md' (2.2.5) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.4). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

Задание 1.
Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)
С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?
Повторим шаги из заданий 1 и 2, используя библиотеку nltk.

In [60]:
combine_df=pd.read_pickle('tweet_tokens')
combine_df.head(2)

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thanks, lyft, credit, use, cause, offer, whee...","[thanks, lyft, credit, use, cause, offer, whee..."

In [61]:
clean_tweet=combine_df['clean_tweet']

In [62]:
text=' '.join([ch for ch in clean_tweet])
len(text)

3459882

In [63]:
txt=[]
old_i=0
for i in range(1000000-1,len(text),100000-1):
    txt.append(text[old_i:i])
    old_i=i
len(txt)<1000000

True

In [7]:
nlp = en_core_web_md.load()
list_text=[]
for txt_ in txt:
    doc = nlp(txt_)
    for ent in doc.ents:
        list_text.append([ent.text,ent.label_])
df_spacy=pd.DataFrame(list_text)

In [8]:
df_spacy.groupby(1).count().sort_values(by=0,ascending=False)

                0
1
DATE         9555
PERSON       7981
GPE          5486
ORG          4559
TIME         2006
NORP         1783
CARDINAL     1074
ORDINAL       666
FAC           458
LOC           324
PRODUCT       301
WORK_OF_ART   184
EVENT         178
LANGUAGE       55
LAW            20
QUANTITY       17
MONEY          14
PERCENT         4

In [9]:
df_person=df_spacy[df_spacy[1]=='PERSON']

In [10]:
df_person.groupby(0).count().sort_values(by=1,ascending=False)[:20]

                       1
0
obama                131
hu                    84
bing bong bing bong   83
hillary               66
christina grimmie     36
wtf                   35
shi                   35
blm                   33
lebron                31
bjp                   30
donald trump          29
isis                  26
gamedev               24
jesus                 24
maga                  24
clinton               23
sta                   23
ma                    21
bull chase            21
carl paladino         21

2.-3. Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.
С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

При использовании текста с нижним регистром ничего в nltk не получилось определения именованных сущностей в нижнем регистре не отрабатывает добавляется только если переводить имена в верхний регистр. по сравнеию с предыдущем результатом nltk не отрабатывает

In [85]:
import nltk
from nltk.tokenize import word_tokenize

In [86]:
list_text=[]

for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize('Explore transcripts of President Donald Trump speeches, rallies'))):
        if hasattr(chunk, 'label'):
            list_text.append([chunk[0],chunk.label()])
            
df_nltk=pd.DataFrame(list_text) 
df_nltk

               0       1
0  (Donald, NNP)  PERSON

In [87]:
list_text=[]

#for txt_ in txt:
for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(text))):
            if hasattr(chunk, 'label'):
                list_text.append([' '.join(c[0] for c in chunk),chunk.label()])
               
df_nltk=pd.DataFrame(list_text)   
df_nltk

Empty DataFrame
Columns: []
Index: []